<head><script type="text/javascript">
	function showLoader() {
	   document.getElementById('load').style.display = "block";
	}
</script></head>

{% extends "layout.html" %}

{% block body %}
 
<script src="script.js"></script>
<div class="block1">
<h1>Which 2020 Presidential Candidate's Music Is Most Like Yours?</h1>

<h2>The New York Times published an <a href="https://www.nytimes.com/interactive/2019/08/19/us/politics/presidential-campaign-songs-playlists.html?smtyp=cur&smid=tw-nytimes"> article</a> analyzing the music played at campaign rallies of the 2020 United States Presidential candidates. Using the playlists that they published for each candidate, this app compares your Spotify listening history to each candidate.
</h2>
  <p>  Click below to see which presidential candidate's rally music is most like your music! </p>
</div>

<div class="block2">
  <p>Please enter your username. This can be found by going into your Spotify App, going to the top-right corner, clicking the drop-down menu, and selecting 'account'</p>
</div>


<form method="POST">
	<input type="text" name="username" placeholder='Username'>
    <input type="submit" onclick="showLoader()"/>
</form>

<div id="load" style="display:none;" class="loader"></div>

{% endblock %}

